/*-----------------------###################### ABOUT ME SECTION ##################------------------*/
body{
    background-color: #83829a;
}
.aboutme-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    max-width: 1030px;
    margin: auto;
}

.div-conteiner-aboutme-elements {
    display: flex;
    flex-direction: row;
}

.aboutme-description {
    flex: 50%;
}

.aboutme-img-conteiner {
    
    flex: 50%;
}

.aboutme-img {
    width: 300px;
    margin: auto;
}

.img-profil {
    width: 300px;
    outline: 2px solid #11aaa6;
    outline-offset: 10px;
}


.title-sections {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ccd6f6;
    margin-bottom: 40px;
}

.title-sections::before {
    position: relative;
    bottom: 0x;
    content: "01.";
    margin-right: 10px;
    color: #20d397;
    font-family: 'Red Hat Mono', monospace;
}

.title-sections::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -6px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #8892b093;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 250px));
    gap: 5px 10px;
}

.skills-arrow {
    color: #20d397;
    margin-right: 15px;
}

.skills-icons {
    margin-left: 15px;
}
@media only screen and (max-width: 768px){
    .aboutme-conteiner{
        display: block;
    }
    .div-conteiner-aboutme-elements{
        flex-direction: column;
    }
    .aboutme-description {
        width: 90%;
        padding-left: 20px;
    }
    
    .aboutme-img-conteiner {
        width: 100%;
        margin-top: 80px;
    }
}