/* Elementi di base */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Red Hat Mono', monospace;
    color: #8892b0;
}

body {
    background-color: #0a192f;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}

li {
    list-style: none;
}


/*-----------------################ PRELOADER #############--------------------*/
#preloader {
    background-color: #0a192f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff9700;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1000;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #11aaa6;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #33363a;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*-------------#################### NAVIGATION BAR ################-----------------*/



a {
    color: #20d397;
    text-decoration: none;
}

.section-heading {
    font-size: 100px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    text-align: center;
    position: relative;
    margin-bottom: 10rem;
}

.section-heading::before {
    content: attr(data-outline);
    position: absolute;
    left: 2%;
    top: -20%;
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    color: transparent;
    z-index: -1;
}


#navigation {

    position: fixed;
    right: 50px;
    height: auto;
    top: 20px;
    z-index: 100;
}

#navigation .nav-icon {
    width: 50px;
    height: 50px;
    margin: 0 auto;
    margin-right: 0;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: end;
}

#navigation .nav-icon svg {
    width: 90%;
    color: #20d397;
}

#nav-content {
    position: fixed;
    right: 0;
    width: 80%;
    max-width: 800px;
    height: 100%;
    z-index: 100;
    background-color: #0f1f36;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transform: translateX(100%);
    transition: 0.3s ease transform;
}

#nav-content.show {
    transform: translateX(0);
    box-shadow: -6px 0px 29px 7px #000000a3;
}

#nav-content .section-heading {
    text-align: left;
}

#nav-content .section-heading::before {
    content: 'Menu';
    text-align: left;
    -webkit-text-stroke: 1.5px #afadad25;
}

#nav-content .wrapper {
    width: 70%;
    position: relative;
}

#nav-content ul {
    list-style: none;
    text-align: left;
}

#nav-content ul li {
    margin-bottom: 2rem;
}

#nav-content ul li a {
    display: inline-block;
    width: 100%;
    color: white;
    font-size: 2rem;

    /* position: relative; */
}

#nav-content ul li a::after {
    content: attr(data-text);
    pointer-events: none;
    position: absolute;
    right: -150px;
    bottom: 30%;
    width: 100%;


    opacity: 0;
    transition: 0.3s ease;
    transition-property: opacity, transform;
    z-index: -1;
    text-align: center;
    transform: rotate(90deg) scale(3);
    color: #20d397;
}

#nav-content ul li a:hover::after {
    opacity: 1;
    transform: scale(3) translateY(10px) rotate(90deg);
}

#nav-content .close-btn {
    position: absolute;
    left: 10px;
    top: 10px;
    color: white;
    width: 40px;
    height: 40px;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s ease background-color;
}

#nav-content .close-btn:hover {
    background-color: #20d397;
}

#nav-content .close-btn svg {
    width: 80%;
}

@media only screen and (max-width: 768px) {
    #navigation {
        right: 10px;
        top: 10px;
    }

    #nav-content nav ul li a::after {
        display: none;
    }

    #nav-content .section-heading {
        text-align: right;
        margin-bottom: 4rem;
    }

    #nav-content .section-heading::before {
        text-align: right;
    }

    #nav-content nav ul {
        text-align: right;
    }

    #nav-content nav ul li a {
        font-size: 2rem;
    }

    #nav-content .wrapper {
        width: 90%;
    }
}

/*-------------------################ HERO SECTIONS  ######################---------------*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/Backgrounds/bg-section1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 100vh;
}

.hero-description {

    max-width: 1030px;
    align-self: center;
}

.title {
    color: #20d397;
    font-size: 16px;
    margin-bottom: 15px;

}

.subtitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ccd6f6;
    font-size: 70px;
    margin-bottom: 15px;
}

.subdescription {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8892b0;
    font-size: 60px;
    margin-bottom: 25px;
}

.description {
    color: #ccd6f6;
    font-size: 16px;
    margin-bottom: 15px;
    max-width: 550px;
    line-height: 25px;

}

.btn {
    display: inline-block;
    margin-top: 35px;
    color: #20d397;
    font-size: 17px;
    border: 1px solid #20d397;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn:hover {
    background-color: #ff990011;
}

a .btn:visited {
    background-color: #ff990011;

}

/*_-------------------------ABOUT ME ---------------------*/
.aboutme-conteiner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    max-width: 1030px;
    margin: auto;
    padding: 15px;
}

.div-conteiner-aboutme-elements {
    display: flex;
    flex-direction: row;
}

.aboutme-description {
    flex: 50%;
    padding: 15px;
}

.profil-card {
    flex: 50%;

}

.title-sections {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ccd6f6;
    margin-bottom: 40px;
}

.title-sections::before {
    position: relative;
    bottom: 0x;
    content: "01.";
    margin-right: 10px;
    color: #20d397;
    font-family: 'Red Hat Mono', monospace;
}

.title-sections::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -6px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #8892b093;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 250px));
    gap: 5px 10px;
}

.skills-arrow {
    color: #20d397;
    margin-right: 15px;
}

.skills-icons {
    margin-left: 15px;
}

img {
    width: 300px;
    display: block;
    margin: 40px auto;
}

@media only screen and (max-width: 768px) {
    .div-conteiner-aboutme-elements {
        flex-direction: column;
    }
}
/*--------------########################### EXPIRIENCE #################---------------*/
.conteiner-exp{
    display: block;
    max-width: 1030px;
    height: 600px;
    position: relative;
    margin:50px auto;
}
  .tabs {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:730px;
    height:380px;
    padding:30px 20px;
    overflow:hidden;
  }
  .tabs .tab-header {
    float:left;
    width:220px;
    height:100%;
    border-right:1px solid #ccc;
    padding:50px 0px;
  }
  .tabs .tab-header > div {
    height:50px;
    line-height:50px;
    font-size:16px;
    color: #ccd6f6;
    cursor:pointer;
    padding-left:10px;
  }
  .tabs .tab-header > div:hover,
  .tabs .tab-header > div.active {
    color: #20d397;
    background-color: #0f1f36;
  }
  .tabs .tab-header div i {
    display:inline-block;
    margin-left:10px;
    margin-right:5px;
  }
  .tabs .tab-content {
    position:relative;
    height:100%;
    overflow:hidden;
  }
  .tabs .tab-content > div {
    position:absolute;
    padding:40px 20px;
    top:-200%;
    transition:all 500ms ease-in-out;
  }
  .tabs .tab-content > div.active {
    top:0px;
  }
   
  .tabs .tab-indicator {
    position:absolute;
    width:4px;
    height:50px;
    background: #20d397;
    left: 236px;
    top:80px;
    transition:all 500ms ease-in-out;
  }
  .exp-title{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ccc;
  }
  .exp-societa{
      color: #20d397;
  }
  .tasks-experience > li{
      margin-top: 10px;
  }
 .title-sections1{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ccd6f6;
    margin-bottom: 40px;
 }
 .title-sections1::before {
    position: relative;
    bottom: 0x;
    content: "02.";
    margin-right: 10px;
    color: #20d397;
    font-family: 'Red Hat Mono', monospace;
}

.title-sections1::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -6px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #8892b093;
}

/*--------------########################### SOCIAL % E-MAIL #################---------------*/
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-bottom: 20px;
    transition: ease-in-out 0.2s;
}

i {
    color: #ccd6f6;

}

.social-icons:hover {
    color: #20d397;
    cursor: pointer;
    transform: translateY(-6px);


}

.social::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #ccd6f6;
}

.conteiner-social {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 45px;

}

.social-link:hover {
    border-bottom: none;
}

.conteiner-email {
    width: 40px;
    position: fixed;
    bottom: 0;
    right: 45px;

}

.email {
    position: fixed;
    width: 40px;
    right: 45px;
    bottom: 260px;
    transform: rotate(0.25turn);


}

.conteiner-email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #ccd6f6;
}

.email-text {
    color: #ccd6f6;
    font-size: 15px;
}

.email-text:hover {
    color: #ff9700;
    border-bottom: none;
}

@media only screen and (max-width: 768px) {
    .social {
        display: none;
    }

    .conteiner-email {
        display: none;
    }
}




/*CONTACTTTTTTTTTTTT*/
.conteiner-contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1030px;
    margin: auto;
    padding: 0px 40px;
}

.title-contact {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: #20d397;
}

.sotto-title-cont {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 35px;
    margin-top: 10px;
    color: #ccd6f6;
}

.description-contact {
    text-align: center;
    margin-top: 10px;
}

.btn-conteiner {
    display: flex;
    max-width: 1030px;
    height: 200px;
    justify-content: center;
    align-items: center;
}

.btn-contact {
    border: 1px solid #20d397;
    padding: 10px 20px;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {}



/*Footer*/

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    max-width: 1030px;
    margin: 20px auto;
}

.social-footer {
    display: none;
}

@media only screen and (max-width: 768px) {
    .social-footer {
        display: block;
    }
}

/*---------------------------####################### MEDIA QUERY ONLY MOBILE SCREEN ###################------------------------------ */

@media only screen and (max-width: 768px) {
    .main {
        display: block;
        margin: 0 auto;
        width: 600px;
    }

    .hero {
        height: 600px;
        width: 100%;
    }

    .hero-description {
        width: 100%;
        padding-right: 40px;
        padding-left: 40px;
    }

    .title {
        font-size: 14px;
    }

    .subtitle {
        font-size: 25px;
    }

    .subdescription {
        font-size: 20px;
    }

    .description {
        width: 100%;
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    a:hover {
        border: none;
    }
}