/* Elementi di base */
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 15px;
    font-family: 'Red Hat Mono', monospace;
    color: #8892b0;
}

body {
    background-color: #0a192f;
}

main {
    display: block;
    margin: 0 auto;
    max-width: 1200px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #20d397;
}

a:hover {
    border-bottom: 1px solid #20d397;
}

/*-----------------################ PRELOADER #############--------------------*/
#preloader {
    background-color: #0a192f;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
}

#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #ff9700;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    z-index: 1000;
}

#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #11aaa6;
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #33363a;
    -webkit-animation: spin 1.5s linear infinite;
    animation: spin 1.5s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}


/*-------------#################### NAVIGATION BAR ################-----------------*/



#navbar {
    -webkit-backdrop-filter: blur(7px);
    backdrop-filter: blur(7px);
    background-color: #0a192f93;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
    z-index: 999;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 30px;
    height: 3px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #ff9700;
}

.bar1 {
    display: block;
    width: 25px;
    height: 2px;
    margin-top: 8px;
    margin-left: 5px;
    background-color: #ff9700;
}

.bar2 {
    display: block;
    width: 20px;
    height: 3px;
    margin-top: 8px;
    margin-left: 10px;
    background-color: #ff9700;
}

.navi-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navi-item {
    margin-left: 5rem;
}

.navi-link {
    font-size: 16px;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.842);
    padding: 10px;
}

.navi-link:hover {
    color: #20d397;
    border-bottom: none;
}

.navi-link:visited {
    border: 1px dashed #20d397;

}

.navi-logo {
    width: 100px;
}

.nr-navbar {
    color: #ff9700;
}

/*-------------------################ HERO SECTIONS  ######################---------------*/
.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(/img/Backgrounds/bg-section1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    min-height: 100vh;
}

.hero-description {

    max-width: 1030px;
    align-self: center;
}

.title {
    color: #ff9700;
    font-size: 16px;
    margin-bottom: 15px;

}

.subtitle {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ccd6f6;
    font-size: 70px;
    margin-bottom: 15px;
}

.subdescription {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #8892b0;
    font-size: 60px;
    margin-bottom: 25px;
}

.description {
    color: #ccd6f6;
    font-size: 16px;
    margin-bottom: 15px;
    max-width: 550px;
    line-height: 25px;

}

.btn {
    display: inline-block;
    margin-top: 35px;
    color: #20d397;
    font-size: 17px;
    border: 1px solid #20d397;
    border-radius: 5px;
    padding: 10px 20px;
}

.btn:hover {
    background-color: #ff990011;
}

a .btn:visited {
    background-color: #ff990011;

}

/*--------------########################### SOCIAL % E-MAIL #################---------------*/
.social {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social-icons {
    margin-bottom: 20px;
}

i {
    color: #ccd6f6;

}

.social-icons:hover {
    color: #ff9700;
    cursor: pointer;
    transform: translate(0, -5px)
}

.social::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #ccd6f6;
}

.conteiner-social {
    width: 40px;
    position: fixed;
    bottom: 0;
    left: 45px;

}

.social-link:hover {
    border-bottom: none;
}

.conteiner-email {
    width: 40px;
    position: fixed;
    bottom: 0;
    right: 45px;

}

.email {
    position: fixed;
    width: 40px;
    right: 45px;
    bottom: 260px;
    transform: rotate(0.25turn);


}

.conteiner-email::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color: #ccd6f6;
}

.email-text {
    color: #ccd6f6;
    font-size: 15px;
}

.email-text:hover {
    color: #ff9700;
    border-bottom: none;
}

/*-----------------------###################### ABOUT ME SECTION ##################------------------*/
.aboutme-conteiner {
    background-image: url(/img/Backgrounds/bg-section2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    display: block;
    height: 100vh;
    width: 1030px;
    margin: auto;
}

.div-conteiner-aboutme-elements {
    display: flex;
    flex-wrap: wrap;
}

.aboutme-description {
    flex: 50%;
}

.aboutme-img-conteiner {
    flex: 50%;

}

.aboutme-img {
    width: 300px;
    margin: auto;
}

.img-profil {
    width: 300px;
    outline: 2px solid #11aaa6;
    outline-offset: 10px;
}

.img-profil:hover {
    outline-offset: -10px;
    transition: 300ms ease-in;
}

.title-sections {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ccd6f6;
    margin-bottom: 40px;
}

.title-sections::before {
    position: relative;
    bottom: 0x;
    content: "01.";
    margin-right: 10px;
    color: #ff9700;
    font-family: 'Red Hat Mono', monospace;
}

.title-sections::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -6px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #8892b093;
}

.skills {
    display: grid;
    grid-template-columns: repeat(2, minmax(140px, 250px));
    gap: 5px 10px;
}

.skills-arrow {
    color: #20d397;
    margin-right: 15px;
}

.skills-icons {
    margin-left: 15px;
}










/*----------------------------------------############### EXPERIENCE SECTION ##################-----------------------------*/
.experience-conteiner {
    display: block;
    margin: auto;
    width: 1030px;
    height: 100vh;
}

.experience-title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #ccd6f6;
    margin-bottom: 40px;
}

.experience-title::before {
    position: relative;
    bottom: 0x;
    content: "02.";
    margin-right: 10px;
    color: #ff9700;
    font-family: 'Red Hat Mono', monospace;
}

.experience-title::after {
    content: "";
    display: inline-block;
    position: relative;
    top: -6px;
    width: 300px;
    height: 1px;
    margin-left: 20px;
    background-color: #8892b093;
}




::selection {
    background: #6d50e2;
    color: #fff;
}

.container {
    max-width: 950px;
    width: 100%;
    padding: 40px 50px 40px 40px;
    margin: 0 20px;
    border-radius: 12px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.container .topic {
    font-size: 34px;
    font-weight: 500;
    margin-bottom: 20px;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content .list {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin-right: 50px;
    position: relative;
}

.content .list label {
    height: 60px;
    font-size: 22px;
    font-weight: 500;
    line-height: 60px;
    cursor: pointer;
    padding-left: 25px;
    transition: all 0.5s ease;
    color: #333;
    z-index: 12;
}

#home:checked~.list label.home,
#blog:checked~.list label.blog,
#help:checked~.list label.help,
#code:checked~.list label.code,
#about:checked~.list label.about {
    color: #fff;
}

.content .list label:hover {
    color: #112240;
}

.content .slider {
    position: absolute;
    left: 0;
    top: 0;
    height: 60px;
    width: 100%;
    border-radius: 12px;
    background: #112240;
    transition: all 0.4s ease;
}

#home:checked~.list .slider {
    top: 0;
}

#blog:checked~.list .slider {
    top: 60px;
}

#help:checked~.list .slider {
    top: 120px;
}

#code:checked~.list .slider {
    top: 180px;
}

#about:checked~.list .slider {
    top: 240px;
}

.content .text-content {
    width: 80%;
    height: 100%;
}

.content .text {
    display: none;
}

.content .text .title {
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: 500;
}

.content .text p {
    text-align: justify;
}

.content .text-content .home {
    display: block;
}

#home:checked~.text-content .home,
#blog:checked~.text-content .blog,
#help:checked~.text-content .help,
#code:checked~.text-content .code,
#about:checked~.text-content .about {
    display: block;
}

#blog:checked~.text-content .home,
#help:checked~.text-content .home,
#code:checked~.text-content .home,
#about:checked~.text-content .home {
    display: none;
}

.content input {
    display: none;
}



/*works*/
#projects {
	padding: 10rem 0;
    margin: auto;
    max-width: 1030px;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 1;
    padding: 10px;
	background-color: #11224087;
	border-radius: 12px;
	box-shadow: 0px 0px 20px #00000028;
	z-index: 2;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	height: 500px;
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #8477a933;
	position: relative;
    width: 400px;
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: #20d3978e;
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
	font-size: 2.5rem;
	font-family: 'Montserrat';
	margin-bottom: 1rem;
}
#projects .item .right .project-sub-title {
	font-size: 1.6rem;
	margin-bottom: 2rem;
}
#projects .item .right .project-desc {
	color: var(--secondary-gray);
	margin-bottom: 3rem;
}
#projects .item .right .external-link {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	padding: calc(0.6em - 4px) calc(1.6em - 4px);
}
#projects .item .right .external-link svg {
	width: 25px;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}







/*CONTACTTTTTTTTTTTT*/



















/*---------------------------####################### MEDIA QUERY ONLY MOBILE SCREEN ###################------------------------------ */

@media only screen and (max-width: 768px) {
    .main {
        display: block;
        margin: 0 auto;
        width: 600px;
    }

    .navi-menu {
        position: fixed;
        left: -100%;
        top: 8rem;
        flex-direction: column;
        background-color: #112240;
        width: 100%;
        text-align: center;
        transition: 0.3s;
        box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    }

    .nr-navbar {
        display: block;
    }

    .navi-menu.active {
        left: 0;
    }

    .navi-item {
        margin-bottom: 15px;
    }

    .hamburger {
        display: block;
        cursor: pointer;
    }

    .hamburger.active .bar1 {
        opacity: 0;
    }

    .hamburger.active .bar {
        transform: translateY(13px) translateX(5px) rotate(45deg);
    }

    .hamburger.active .bar2 {
        transform: translateY(-8px) translateX(-5px) rotate(-45deg);
        width: 30px;
        height: 3px;
    }

    .hero {
        height: 600px;
        width: 100%;
    }

    .hero-description {
        width: 100%;
        padding-right: 20px;
        padding-left: 20px;
    }

    .title {
        font-size: 14px;
    }

    .subtitle {
        font-size: 25px;
    }

    .subdescription {
        font-size: 20px;
    }

    .description {
        width: 100%;
        font-size: 14px;
    }

    .btn {
        font-size: 14px;
    }

    a:hover {
        border: none;
    }

    .aboutme-conteiner {
        width: 100%;
    }

    .aboutme-description,
    .aboutme-img-conteiner {
        flex: 100%;
    }
}























/* -------------------######################### ANIMATIONS ####################-------------------*/
.slideInUp {
    -webkit-animation-name: slideInUp;
    animation-name: slideInUp;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-delay: 2200ms;
    animation-delay: 2s;
}

@-webkit-keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slideInUp {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        visibility: visible;
    }

    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-delay: 2s;
    animation-delay: 2500ms;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.bounce {
    -webkit-animation-name: bounce;
    animation-name: bounce;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes bounce {

    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}

@keyframes bounce {

    0%,
    20%,
    53%,
    80%,
    100% {
        -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }

    40%,
    43% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0);
    }

    70% {
        -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0);
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0);
    }
}