/*----------------####### WORKS ###########----------------*/
#projects {
	padding: 10rem 0;
    margin: auto;
    max-width: 1030px;
}
#projects .item {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 800px;
	margin: 0 auto;
	margin-bottom: 15rem;
	/* gap: 2rem; */
}
#projects .item:nth-of-type(even) {
	flex-direction: row-reverse;
}
#projects .item .left {
	flex: 1;
}
#projects .item .right {
	margin-left: -150px;
	flex: 2;
    padding: 15px;
	z-index: 2;
    background-color: #112240;
    border-radius: 12px;
}
#projects .item:nth-of-type(even) .right {
	margin-left: 0;
}
#projects .item:nth-of-type(even) .left {
	margin-left: -150px;
}
#projects .item .left .img {
	
	overflow: hidden;
	border-radius: 12px;
	overflow: hidden;
	box-shadow: 0px 0px 20px #8477a933;
	position: relative;
    
}
#projects .item .left .img::after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
    background-color: rgba(44, 38, 38, 0.156);
}
#projects .item .left .img img {
	object-fit: cover;
	transition: 0.3s ease transform;
}
#projects .item:hover .left .img img {
	transform: scale(1.1);
	z-index: 1;
}
#projects .item .right .project-title {
    color: #20d397;
    font-size: 16px;
    margin-bottom: 10px;
}
#projects .item .right .project-sub-title {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 25px;
	margin-bottom: 2rem;
    color: #ccd6f6;
}
#projects .item .right .project-desc {
	background-color: #1a325b;
	margin-bottom: 1.6rem;
    box-shadow: 0px 0px 10px #112240;
    padding: 10px;
    border-radius: 12px;
    color: #ccd6f6;
}
#projects .item .right .tec-used{
    margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
	#projects .item {
		flex-direction: column;
	}
	#projects .item .left {
		width: 100%;
	}
	#projects .item .right {
		margin-left: 0;
		width: 90%;
		margin-top: -150px;
	}
	#projects .item:nth-of-type(even) {
		flex-direction: column;
	}
	#projects .item:nth-of-type(even) .left {
		margin-left: 0;
	}
}
@media only screen and (max-width: 450px) {
	#projects .item .right .buttons {
		flex-direction: column;
	}
	#projects .item .right .buttons a {
		width: 100%;
		text-align: center;
	}
}